@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Herr+Von+Muellerhoff&display=swap');

@font-face {
    font-family: 'Klaristha';
    src: url("fonts/klaristha/Klaristha.woff2") format("woff2");

}


:root {
    font-size: 130%;
}



body {
    font-family: 'baskerviella', serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0;
    background-color: #09111F;
}

ol {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    margin-top: -2rem;
    font-size: 1.6rem;
    
}

li {
    color: #ffffff; 
    border-radius: 1rem;
    display: inline-flex;
    padding: 0.3rem 0.7rem;
    justify-content: center;
    align-items: center;
    gap:2rem;
}



section:nth-child(1) { 
    color:#A0BBC1; 

    padding: 4rem;
    padding-bottom: 1rem;}
    

section:nth-child(2) { 
    color:#A0BBC1; 
    background-color: #09111F;
    padding: 4rem;
    padding-bottom: 1rem;}
    
.title{
    position: relative;
    padding: 0rem;
    place-items: center;
    margin: 0 auto;
    display: block;
    margin-top: 5rem;
    margin-right: 100px;

}

.block {
    font-family: 'Herr Von Muellerhoff';
    font-size: 10rem;
    line-height: 1;
    text-align: left;
    margin-left: -1rem;
    color: #2ce7ac;

}

.script{
    font-family: 'Klaristha', cursive;
    font-size:5rem;
    color: #A0BBC1;
    /* display: inline-block; */

    

} 

.author{
    display: inline-block;
    color: #A0BBC1;
    font-weight: 200;
    font-size: 1.5rem;
    margin-left: 30rem;    
    margin-bottom: 2rem;
    margin-top: -9srem;

}


blockquote {
    inline-size: 90%;
    font-size: 2rem;
    color: #3d3d3d;
    text-align: left; 
    margin: 3rem auto;  
    margin-top: 7rem;
    line-height: 1.6;
    margin-bottom: 5rem;
    background-color: orange;
    border-radius: 2rem;
    padding: 2rem 4rem;
    padding-left: 2rem;
    
}



article {
  font-weight: 200;     
  margin: 0 auto;        
  text-align: left;   
  padding: 0rem;   
  padding-bottom: 5rem;
  margin-top: 2rem;
}

article p {
    padding-top: 2rem;
    font-size: 2rem;

  margin: 1.2rem 0;
  line-height: 1.9;
  margin-top: 2rem;
}
.body-text{
    margin-top:1rem;
}


.link {
    color:rgb(194, 170, 197);
}

.link:hover {
    color: #EC7040;
}

.rub{
    font-family: 'klaristha', cursive;
    color: #2ce7ac;
    font-size: 3rem;

}

.rib{
    font-family: 'rubik glitch', cursive;
    color: #3E3335;
}

.single-box {
  position: relative;       
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.top-left {
  top: 16px;
  left: 16px;
  font-weight: bold;
}

/* Bottom-right text */
.bottom-right {
  bottom: 16px;
  right: 16px;
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background: #f0f0f0;
  min-height: 100vh;
}

.row {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box {
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-height: 80px;

  font-size: 4rem; 
  line-height: 1.4;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  overflow: hidden; 
}

.row-a .left-box { flex: 2; }
.row-a .column-a { flex: 1; }

.row-b .left-box { flex: 1; }
.row-b .right-box { flex: 2; }

.row-c .column-a { flex: 1; }
.row-c .right-box { flex: 2; }