@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: black;
}
section p {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 160%;
    letter-spacing: -0.02rem;
    line-height: 1.5rem;
    color: white;
    margin-block: calc(var(--spacing)*2);
}

