/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 800.0
*/
@font-face {
  font-family: 'JetBrainsMono-Variable';
  src: url('JetBrainsMono-Variable.woff2') format('woff2'),
       url('JetBrainsMono-Variable.woff') format('woff'),
       url('JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 800.0
*/
@font-face {
  font-family: 'JetBrainsMono-VariableItalic';
  src: url('JetBrainsMono-VariableItalic.woff2') format('woff2'),
       url('JetBrainsMono-VariableItalic.woff') format('woff'),
       url('JetBrainsMono-VariableItalic.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}

article section p{
    font-weight: 500;
    letter-spacing: -0.01rem;
    line-height: 1.5rem;
    font-size: 110%;
    padding: var(--spacing);
    text-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 132);
    transform: rotate(8deg);
}

header{
 background-color: green;
}

.rotate-opposite{
    transform: rotate(-8deg);
}
div{
    background-color: orange;
}

#burst-12 {
    background: red;
    width: 12rem;
    height: 12rem;
    position: relative;
    text-align: center;
    margin-inline: auto; 
    margin-block: 5rem;
    }
#burst-12:before,
#burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 12rem;
    width: 12rem;
    background: red;
    }
#burst-12:before {
    transform: rotate(30deg);
    }
#burst-12:after {
    transform: rotate(60deg);
    }

/* Wanted to style my blockquote in a starburst, learnt how to make it from here: https://css-tricks.com/the-shapes-of-css/ */
  







