@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    font-size: 2rem;
    font-family: "Instrument Sans", sans-serif;
	line-height: 2rem;
	--spacing: 1rem;
}

.navbar-1{
    background-color: #1e1e1e;
    block-size: 100vh;
}

.navbar-1 ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
		"a b c"
        "d d d";
    font-size: 400%;
    font-weight: 500;
    letter-spacing: -0.01rem;
    text-transform: uppercase;
    color: #000000;
}

.navbar-1 ol li{
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

.navbar-1 ol li:first-child {
    grid-area: a;     
    background-color: rgb(243, 243, 63);
}

.navbar-1 ol li:nth-child(2) {
    grid-area: b;     
    background-color: rgb(115, 216, 104);
}

.navbar-1 ol li:nth-child(3) {
    grid-area: c;     
    background-color: #ff6fb2
}

.navbar-1 ol li:nth-child(4) {
    grid-area: d;     
    background-color: #1e1e1e;
    color: white;
    font-size: 35%;
    writing-mode: horizontal-tb;
    block-size: 20%;
    padding: calc(var(--spacing)/2);
    align-items: center;
    justify-content: center;
}



