:root{
    --bg-color: rgb(246, 246, 246);
    --fg-color: black;
    font-size: 3rem;
	line-height: 1.5rem;
	--spacing: 1rem;
}

body {
    padding: var(--spacing);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

body p {
    margin-block: var(--spacing);
    text-wrap: prett;
}