:root{
    --bg-color: rgb(246, 246, 246);
    --fg-color: black;
    font-size: 2rem;
	line-height: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--spacing: 1rem;
}

body {
    padding: var(--spacing);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

body p {
    margin-block: var(--spacing);
}