@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    font-size: 1rem;
    font-family: "Instrument Sans", sans-serif;
	line-height: 2rem;
    letter-spacing: -0.01rem;
	--spacing: 1rem;
    --lightpink: rgb(255, 137, 206);
    --darkpink: #ff10a3;
    --purple: rgb(97, 95, 223);
    --red: #ee2525;
    --green: #23900d;
    --yellow: rgb(235, 229, 31);
    --black: #0c0c0c;
    --white: white;

} 

body{
    margin: 0rem;
    padding: 0rem;
}

.navbar-1{
    background-color: #1e1e1e;
    height: 100vh;
}

.navbar-1 ol {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 0.5fr;
    grid-template-areas:
		"a b c"
        "d d d";
    font-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.navbar-1 ol li{
    writing-mode: vertical-rl;
    display: flex;
    padding: var(--spacing);
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.navbar-1 ol li:first-child {
    grid-area: a;     
    background-color: rgb(243, 243, 63);
}

.navbar-1 ol li:nth-child(2) {
    grid-area: b;     
    background-color: rgb(115, 216, 104);
}

.navbar-1 ol li:nth-child(3) {
    grid-area: c;     
    background-color: #ff6fb2
}

.navbar-1 ol :nth-child(4) {
    grid-area: d;     
    background-color: #1e1e1e;
    color: white;
    font-size: 120%;
    writing-mode: horizontal-tb;
    align-items: center;
    justify-content: center;
    block-size: 20vh;
}

/* Found writing mode trick from mdn because I wanted to learn how to do that for this style and found it here: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Logical_values_and_writing_modes */

.navbar-1 ol li:not(:last-child):hover{
    background-color: #1e1e1e;
    color: white;
}

/* .navbar-2{
    background-color: #ff6fb2;
} */

.navbar-2 ol {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.navbar-2 ol li{
   padding: calc(var(--spacing)/2);
   text-align: center;
}

.navbar-2 ol li:hover{
    text-decoration: underline;
    color: white;
} 