:root{
    --bg-color: rgb(255, 245, 152);
    --fg-color: black;
    font-size: 1.5rem;
	line-height: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--spacing: 1rem;
}

body{
    padding: calc(var(--spacing)/1.5);
    background-color: var(--bg-color);
}

body p{
    margin-block: var(--spacing);
    text-wrap: pretty;
}

nav ol{
    display: flex;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    background-color: #fdf9e6;
    color: #0f1617;
    font-size: 50%;
    padding: 0;
}
