@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --bg-color: rgb(232, 232, 232);
    --fg-color: black;
    font-size: 2rem;
	line-height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--spacing: 1rem;
}

nav ol{
    display: flex;
    justify-content: space-evenly;
    block-size: 7vh;
    inline-size: 100vw;
    background-color: #ff4fa1;
    color: #f5f5f5;
    font-family: "Instrument Sans", sans-serif;
    font-size: 70%;
    font-weight: 500;
    letter-spacing: -0.01rem;
    text-transform: uppercase;

}
