:root{
    --bg-color: rgb(255, 245, 152);
    --fg-color: black;
    font-size: 1.5rem;
	line-height: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--spacing: 1rem;
}

nav ol {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
}

ol li{
    margin-inline: var(--spacing);
}
body {
    padding: var(--spacing);
    background-color: var(--bg-color);
}

body p{
    margin-block: var(--spacing);
}