:root{
    --bg-color: papayawhip;
    --fg-color: tomato;
    font-size: 2rem;
	line-height: 120%;
	--spacing: 2rem;
}

body {
    padding: var(--spacing);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

body p {
    margin-block: var(--spacing);
}