@font-face {
    font-family: 'Pinkend';
    src: url('Pinkend.woff2') format('woff2'),
        url('Pinkend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pinkend';
    src: url('Pinkend.woff2') format('woff2'),
        url('Pinkend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

