@font-face {
    font-family: 'DESTRA';
    src: url('DESTRA-Bold.woff2') format('woff2'),
        url('DESTRA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Destra';
    src: url('GPDestra-Light.woff2') format('woff2'),
        url('GPDestra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

