/* @font-face {
    font-family: "Saint";
    src: url("binding/Saint-Regular.woff2") format('woff2'),
        url("bindig/Saint-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    padding-block-start: calc(var(--spacing)*1.5);
    margin-block: calc(var(--spacing)*2);
    line-height: 80%;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size:650%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-style: normal;
    color: rgb(41, 207, 41);
    text-align: center;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

