/* @font-face {
    font-family: "Saint";
    src: url("binding/Saint-Regular.woff2") format('woff2'),
        url("bindig/Saint-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

h1 {
    padding-block-start: calc(var(--spacing)*1.5);
    margin-block: calc(var(--spacing)*2);
    line-height: 80%;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size:650%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-style: normal;
    color: rgb(41, 207, 41);
    text-align: center;
}

