@font-face {
    font-family: 'Meta-old-French';
    src: url('Meta-old-French.woff2') format('woff2'),
        url('Meta-old-French.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

