@font-face {
    font-family: 'Apfel Grotezk';
    src: url('ApfelGrotezk-Regular.woff2') format('woff2'),
        url('ApfelGrotezk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saint';
    src: url('Saint-Regular.woff2') format('woff2'),
        url('Saint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortica Linear';
    src: url('OrticaLinear-Regular.woff2') format('woff2'),
        url('OrticaLinear-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortica Linear Light';
    src: url('OrticaLinear-Light.woff2') format('woff2'),
        url('OrticaLinear-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer Variable';
    src: url('SwitzerVariable-Regular.woff2') format('woff2'),
        url('SwitzerVariable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer Variable';
    src: url('SwitzerVariable-Italic.woff2') format('woff2'),
        url('SwitzerVariable-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Switzer-Extralight';
  src: url('Switzer-Extralight.woff2') format('woff2'),
       url('Switzer-Extralight.woff') format('woff'),
       url('Switzer-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-ExtralightItalic';
  src: url('Switzer-ExtralightItalic.woff2') format('woff2'),
       url('Switzer-ExtralightItalic.woff') format('woff'),
       url('Switzer-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Switzer-Light';
  src: url('Switzer-Light.woff2') format('woff2'),
       url('Switzer-Light.woff') format('woff'),
       url('Switzer-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer-LightItalic';
  src: url('Switzer-LightItalic.woff2') format('woff2'),
       url('Switzer-LightItalic.woff') format('woff'),
       url('Switzer-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
    font-family: 'Meta-old-French';
    src: url('Meta-old-French.woff2') format('woff2'),
        url('Meta-old-French.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avarabolditalic';
    src: url('Avara-BoldItalic.eot');
    src: url('Avara-BoldItalic.eot') format('embedded-opentype'),
         url('Avara-BoldItalic.woff2') format('woff2'),
         url('Avara-BoldItalic.woff') format('woff'),
         url('Avara-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100vw;
    font-family: "Switzer Variable";
}

header{
    padding: calc(var(--spacing)/1.5);
    padding-block-end: 0;
}

h1{
    font-family: 'Saint';
    font-display: swap;
    font-size: 340%;
    line-height: 3.5rem;
}

.D, .S, .N, .R, .W, .U, .C{
    font-family: 'Ortica Linear Light';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

h1 p{
    line-height: 3.4rem;
}

div {
    border-bottom: 0.06rem solid black;
    margin-block-start: 0.5rem;
}

.author-name{
    font-family: 'Switzer-Extralight';
    /* background-color: rgb(132, 132, 132); */
    font-size: 700%;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 6rem;
    margin-inline: -1rem;
    box-sizing: border-box;
    padding-block: 3rem;
}

.author-name p:nth-child(2){
    text-align: right;
}

article section{
    padding: calc(var(--spacing)/1.4);
}

h2:first-child{
    border-top: 0.06rem solid black;
    padding-block-start: 2rem;
    margin-inline: 0.7rem;
}

h2{
    padding-block-start: calc(var(--spacing)/1.5);
    padding-inline: calc(var(--spacing)/1.5);
}

h2 p{ 
   font-family: 'Ortica Linear Light';
   font-weight: 200;
   font-style: normal;
   font-size:340%;
   line-height: 3.5rem;
   text-align: right;
   text-transform: uppercase;
}

h2 p:nth-child(2){
    /* transform: skewX(-20deg); */
    text-align: left;
    font-family: 'avarabolditalic';
    white-space: nowrap;
    font-size: 250%;
    text-transform: none;

}

/* Wanted the second line on one single line, learnt the no wrap trick from mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/white-space */


