@font-face {
    font-family: 'Apfel Grotezk';
    src: url('ApfelGrotezk-Regular.woff2') format('woff2'),
        url('ApfelGrotezk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saint';
    src: url('Saint-Regular.woff2') format('woff2'),
        url('Saint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortica Linear';
    src: url('OrticaLinear-Regular.woff2') format('woff2'),
        url('OrticaLinear-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortica Linear';
    src: url('OrticaLinear-Light.woff2') format('woff2'),
        url('OrticaLinear-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body{
    width: 100vw;
}

header{
    padding: calc(var(--spacing)/1.5);
}

h1{
    font-family: 'Saint';
    font-display: swap;
    font-size: 350%;
    line-height: 3.5rem;
}

.D, .S, .N, .R, .W, .U, .C{
    font-family: 'Ortica Linear';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

h1 p{
    line-height: 3.4rem;
}

div {
    border-bottom: 0.06rem solid black;
    margin-top: 0.5rem;
}

h2, section{
    padding: calc(var(--spacing)/1.5);
}