
html{
    background-color:rgb(255, 137, 206)
}

article section p{
    font-family: 'Satoshi-Variable';
    font-weight: 450;
    letter-spacing: -0.01rem;
    line-height: 1.5rem;
    font-size: 110%;
    padding: var(--spacing);
    text-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(97, 95, 223);
    transform: rotate(8deg);
    color: white;
}

.rotate-opposite{
    transform: rotate(-8deg);
}


#burst-12 {
    background: rgb(255, 249, 79);
    width: 14rem;
    height: 14rem;
    position: relative;
    text-align: center;
    margin-inline: auto; 
    margin-block: 6rem;
    }
#burst-12:before,
#burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 14rem;
    width: 14rem;
    background: rgb(255, 249, 79);
    }
#burst-12:before {
    transform: rotate(30deg);
    }
#burst-12:after {
    transform: rotate(60deg);
    }

/* Wanted to style my blockquote in a starburst, learnt how to make it from here: https://css-tricks.com/the-shapes-of-css/ */

#burst-12 blockquote {
    position: relative; 
    background: none;   
    padding-inline: 1rem;
    font-family: 'Satoshi-Variable';
    font-size: 130%;  
    line-height: 1.5em;
    color: rgb(2, 2, 2);      
    z-index: 2;
    text-align: center;
    padding-block: 1.5rem;
    text-transform: uppercase;
}

article section > p {
    margin-block: 2.5rem; /* increase spacing */
    margin-inline: 2rem;
}

.green{
    background-color: #23900d;
}

.dark-pink{
    background-color: #df0d8e;
}

h1 ul{
    display: grid;         
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
		"a b c"
		"d e f"
		"g h i";
    background-color: var(--white);
    aspect-ratio: 1;
}

h1 li {
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: 'Format_1452';
    text-align: center;
    border-radius: 100%;
    letter-spacing: -0.08rem;
    word-spacing: 0.8rem;
    aspect-ratio: 1;
}

header h1 li:first-child{
    grid-area: a;
    background-color: var(--green);
}

header h1 li:nth-child(2){
    grid-area: b;
    background-color: var(--darkpink);
}

header h1 li:nth-child(3){
    grid-area: c;
    background-color: var(--purple);
}

header h1 li:nth-child(4){
    grid-area: d;
    background-color: var(--darkpink);
}

header h1 li:nth-child(5){
    grid-area: e;
    background-color: var(--purple)
}

header h1 li:nth-child(6){
    grid-area: f;
    background-color: var(--green)
}

header h1 li:nth-child(7){
    grid-area: g;
    background-color: var(--green)
}

header h1 li:nth-child(8){
    grid-area: h;
    background-color: var(--purple)
}

header h1 li:nth-child(9){
    grid-area: i;
    background-color: var(--yellow)
}


