/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

html{
    background-color: var(--white);
}

html, body {
  overflow-x: hidden;
}

.pink-panel{
    background-color: var(--lightpurple);
    border-radius: 4rem 4rem 0 0;             
    padding-block-start: calc(var(--spacing)*8);
    width: 100vw;
}

article section p{
    font-family: 'Manifont Grotesk';
    font-weight: 400;
    font-size: 120%;
    line-height: calc(var(--spacing)*1.5);
    padding-inline: var(--spacing);
    padding-block-end: calc(var(--spacing)*3);
    text-wrap: wrap;
    /* background-color: rgb(97, 95, 223); */
    color: var(--black);
}

.first-para{
    padding-block-start: 0;
}


article section > p {
    margin-inline: var(--spacing);
}

.left-align{
    text-align: right;
}

.after-blockquote{
    padding-block-start: calc(var(--spacing)*3)
}

.burst-12, .burst-13{
  background-color: var(--yellow);
  width: 90%; 
  aspect-ratio: 1;
  margin-block: calc(var(--spacing)*2);
  clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);

  display: flex;               
  align-items: center;         
  justify-content: center;    
  padding: var(--spacing);
}

/* Wanted to style my blockquote in a starburst, learnt how to make it from here: https://css-tricks.com/the-shapes-of-css/ , as well as https://css-generators.com/starburst-shape/ */

.burst-12{
  margin-inline-start: calc(var(--spacing)*6);
}

.burst-13{
  margin-inline-end: calc(var(--spacing)*6);
  margin-inline-start: calc(var(--spacing)*-3);
}

.burst-12 blockquote, .burst-13 blockquote {
    font-family: 'Heal The Web A';
    font-size: 140%;  
    line-height:  calc(var(--spacing)/0.65);
    color: var(--black);      
    text-align: center;
    text-transform: uppercase;


    margin: 0;                 
    max-width: 50%;   
}

h2{
    padding-block: var(--spacing);
    font-family: 'Format_1452';
    font-size: 200%;
    transform: rotate(-8deg);
    border-radius: 4rem;
    max-inline-size: 50vw;
    text-align: center;
    margin-inline-start: calc(var(--spacing)*2);
    margin-block-start: calc(var(--spacing)*6);
    margin-block-end: calc(var(--spacing)/2);
    background-color: white;
}

h2:first-child{
    margin-block-start:0;
}

.heading-2{
   margin-inline-start: calc(var(--spacing)*12);
   transform: rotate(8deg);
}


h1 ul{
    display: grid;         
    /* background-color: rgb(0, 0, 0); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
		"a a a"
		"b c c"
		"d d d"
        "e e e";
    background-color: white;
}

h1 li {
    font-family: 'Format_1452';
    max-inline-size: 100%;
    min-block-size: 4rem;
    text-align: center;
    justify-content: center;
    padding-block: calc(var(--spacing)*2);
    padding-inline: var(--spacing);
    border-radius: 4rem;
    letter-spacing: -0.08rem;
    word-spacing: 0.8rem;
}

header h1 li:first-child{
    grid-area: a;
    background-color: var(--green);
    font-size: 270%;
    transform: rotate(-4deg);
}

header h1 li:nth-child(2){
    grid-area: b;
    background-color: #ee2525;
    font-size: 270%;
    transform: rotate(-4deg);
}

header h1 li:nth-child(3){
    grid-area: c;
    background-color: rgb(97, 95, 223);
    font-size: 270%;
    transform: rotate(2deg);
}

header h1 li:nth-child(4){
    grid-area: d;
    background-color: rgb(235, 229, 31);
    font-size: 270%;
    transform: rotate(4deg);
}

header h1 li:nth-child(5){
    grid-area: e;
    background-color: #ff10a3;
}

.space{
    padding-block-start: calc(var(--spacing)*4);
}

/* .circle-1, .circle-2, .circle-3{
  width: 15rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-family: 'Format_1452';
  font-size: 200%;
  font-weight: 500;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  margin-inline-start:1rem;
  transform: rotate(-10deg);
  margin-block-start: 5rem;
  margin-block-end: -2rem;
  position: relative;  
  z-index: 9999;
}

.circle-2{
    transform: rotate(10deg);
    margin-inline-start: 10rem;
}

.circle-3{
    margin-block-end: -4rem;
}

article section .last-para-1, .last-para-2{
    margin-block-end: 8rem;
} */

